@media screen and (max-width:630px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial;
      }

      .ancho{
        max-width: 1200px;
        margin: auto;  
    }

    .icono{
        border: 1px red solid;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px; 
        display: block;
    }
    .icono a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        width: 35px;
    }

    .menu{
        /*border: 1px blue solid;*/
        margin-left: 70px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        display: none;
    }
    
    .menu a{
        font-size: 20px;
        text-decoration: none;
        color: black;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
       /* border: 1px purple solid;*/
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cuadro{
        display: flex;
        flex-direction: row;
    }
    
    .texto{
        border: 1px purple solid;
    }
    
    .img2{
        border: 1px blue solid;
        display: block;
    }
    
    .img21{
        max-width: 600px;
    }
    
}